<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/amin.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Register</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="form-group">
                                <label>first name</label>
                                <input type="text" name="firstname" class="form-control" placeholder="Enter firstName" [(ngModel)]="form.firstname" required firstname #firstname="ngModel">

                            </div>
                            <div class="form-group ">
                                <label>last name</label>
                                <input type="text" class="form-control" name="lastname" placeholder="Enter LastName " [(ngModel)]="form.lastname " required lastname #lastname="ngModel">
                            </div>
                            <div class="form-group ">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter Username " [(ngModel)]="form.username" required username #username="ngModel">
                            </div>
                            <div class="form-group ">
                                <label>Email address</label>
                                <input type="email " class="form-control" name="email" placeholder=" Enter E-mail " [(ngModel)]="form.email " required email #email="ngModel">
                            </div>
                            <div class="form-group ">
                                <label>Password</label>
                                <input type="password " class="form-control" name="password" placeholder="Password " [(ngModel)]="form.password " required password #password="ngModel">
                            </div>
                            <div class="form-group ">
                                <label>phone</label>
                                <input type="text " class="form-control" name="phone" placeholder="Enter Phone " [(ngModel)]="form.phone " required phone #phone="ngModel">
                            </div>
                            <div class="form-group ">
                                <label>City</label>
                                <input type="text " class="form-control" name="city" placeholder="Enter City " [(ngModel)]="form.city " required city #city="ngModel">
                            </div>

                            <button type="submit " class="btn oneMusic-btn mt-30 ">Register</button>
                            <div class="alert alert-warning " *ngIf="f.submitted && isSignUpFailed ">
                                Signup failed!<br />{{ errorMessage }}
                            </div>
                        </form>
                        <div class="alert alert-success " *ngIf="isSuccessful ">
                            Your registration is successful!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->