
        <!-- partial:partials/_footer.html --
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
                    <div class="table-title">
                        <div class="row">
                          
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>mail</th>
                                <th>Phone</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let utilisateur of utilisateur; let i = index" [class.active]="i == currentIndex" (click)="setActiveTutorial(utilisateur, i)">
                      
                            <tr>
                                <td>        {{ utilisateur.username }}</td>
                                <td>      {{ utilisateur.firstname }}</td>
                                <td>        {{ utilisateur.lastname }}</td>
                                <td>        {{ utilisateur.email }}</td>
                                <td>        {{ utilisateur.phone }}</td>
                                <td>        {{ utilisateur.city }}</td>
                                
                                <td>
                            
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons" (click)="deleteTutorial()" ></i></a>
                                </td>
                            </tr>  
                        </tbody>
                    </table>
                        <div class="tab-content tab-content-basic">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="statistics-details d-flex align-items-center justify-content-between">
                                                   
                                 