<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/amin.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Login</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Login Form -->
                    <div class="alert alert-danger" *ngIf="errorMessage!=''">
                        <strong>login ou mot de passe erronés..</strong>
                    </div>
                    <div class="login-form">
                        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" name="username" class="form-control" placeholder="Enter Username" [(ngModel)]="form.username" required username #username="ngModel">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                                Username is required!
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="form.password" required password #password="ngModel">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                    Login failed : {{ errorMessage }}
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-success" *ngIf="isLoggedIn">
                            Logged in as {{ roles }}.
                        </div>
                        <a routerLink="/register">Inscri-vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->